.animation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;


    svg {
      width: 200px;
      height: 200px;
      stroke-dashoffset: 455;
      stroke-dasharray: 239.6;
      animation: circle-default 3.5s infinite;
    }
  }

  height: 100vh;
  overflow: hidden;
}

@keyframes circle-default {
  to {
    stroke-dashoffset: 0;
  }
}