@import "../media";

.select {
  display: block;
  background-color: var(--bg-theme);
  border: 1px solid;
  border-color: var(--text-color);
  color: var(--text-color);
  border-radius: 8px 8px 0 0;
  max-width: 265px;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  height: 45px;

  @include _420 {
    max-width: 100%;
  }
}

.select {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    background-image: url("../../assets/dropdown-icon.svg");
  }

  &__value {
    padding: 15px;
    cursor: pointer;
  }

  &__option {
    padding: 20px;
  }

  &__drowpdown {
    position: absolute;
    left: -1px;
    right: -1px;
    background-color: var(--bg-theme);
    z-index: 10;
    top: 43px;
    border: 1px solid;
    border-color: var(--text-color);
    border-radius: 0 0 8px 8px;
  }

  &__item {
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    color: var(--text-color);

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 10px;
    }

    &:hover {
      background-color: var(--text-color);
      color: var(--bg-theme);
    }

    @include _768 {
      padding: 10px 15px;
    }
  }
}