.skeleton {
  height: 275px;
  background-color: var(--bg-theme);
  position: relative;

  &__mini {
    width: 100%;
    height: 20px;
    background-color: rgba(150, 150, 150, 0.6);
    background-size: 800px 100px;
    animation: blinker 1s infinite ease-out;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__block {
    height: 100%;
    width: 100%;
    background-color: rgba(150, 150, 150, 0.3);
    background-size: 800px 100px;
    animation: blinker 1s infinite ease-out;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}